@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
  ➜  Network: http://10.100.207.237:5173/ */
.sideHeader {
    background-color: #00427C;
    width: 8vw;
    position: fixed;
    font-size: 1.75rem;
    @apply flex items-center justify-around h-screen flex-col text-white;
}

.filter-blue{
  filter: invert(50%) sepia(93%) saturate(1769%) hue-rotate(158deg) brightness(99%) contrast(102%);
}