@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sideHeader {
    background-color: #00427C;
    width: 8vw;
    position: fixed;
    font-size: 1.75rem;
    @apply flex items-center justify-around h-screen flex-col text-white;
}

#app {
  padding-top:2rem;
  padding-left:9vw;
}

.filter-blue{
  filter: invert(50%) sepia(93%) saturate(1769%) hue-rotate(158deg) brightness(99%) contrast(102%);
}

.line-chart-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around; 
  padding-left: 10vw;
  padding-right: 4vw;
}

.chart-container-other {
  flex: 1;
  max-width: 400px; 
  margin: auto; 
  height: auto; 
  @apply my-4;
}

.chart-container {
  @apply w-1/5 mx-4 my-4;
}

#top {
    text-align: center;
}